// load the base configuration
//exec default.cfg

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

// stuff command line statements
stuffcmds

// display the startup level
startupmenu

// execute the hud settings
cl_hud_minmode 0